@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto+Condensed:wght@300;400;700&display=swap');

#thanks {
    background-color: #DEEDF0;
}
/* NavBar Styles */
.nav-link:hover {
    font-size: 1.1vw;
}

/* Landing Styles */

/* Centered text */
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DEEDF0;
    font-size: 5vw;
    font-family: "Poppins", sans-serif;
    letter-spacing: .2rem;
    animation: fadeIn 4s;
  }

  @media screen and (max-width: 670px) {
    .centered {
      font-size: 5vw;
      top: 35%;
    }
  }

  /* Centered Sub-text */
.centered-subtext {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DEEDF0;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    letter-spacing: .2rem;
    animation: fadeIn 6s;
  }

  @media screen and (max-width: 670px) {
    .centered-subtext {
      font-size: 2vw;
      top: 40%;
    }
  }

  /* Socials links */
  .socials {
    position: fixed;
    top: 45%;
    left: 0;
    background-color: #F4C7AB;
    width: 50px;
    padding: 10px 5px;
    border-radius: 0 20px 20px 0;
    animation: fadeIn 1s;
}

.socials img:hover {
    width: 105%;
}

@media screen and (max-width: 670px) {
    .socials {
        top: 35%;
        width: 40px;
    }
  }

.socials img {
    width: 100%;
    padding: 5px 1px;
}

/* About Me Container */

.aboutContainer {
    background-color: #000;
    padding-top: 50px; 
    padding-left: 60px;
    padding-bottom: 400px;
    left: 50%;
    color: #DEEDF0;
    font-size: 5vw;
    font-family: "Poppins", sans-serif;
    letter-spacing: .2rem;
    animation: fadeIn 5s;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }