@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
  font-family: "Poppins", sans-serif;
}

input:focus::placeholder {
  color: transparent;
}

/* Top Bar Styles */
nav {
  background-color: #FFF;
  z-index: 97;
}

/* Centered text */
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DEEDF0;
    font-size: 5vw;
    letter-spacing: .2rem;
    animation: fadeIn 4s;
  }

.centered-subtext {
    position:absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DEEDF0;
    font-size: 1.5vw;
    letter-spacing: .2rem;
    animation: fadeIn 6s;
  }

  @media screen and (max-width: 670px) {
    .centered-subtext {
      font-size: 2.5vw;
      top: 65%;
    }
    .centered {
      font-size: 5.5vw;
      top: 68%
    }
  }
    @media screen and (max-width: 440px) {
    .centered{
      font-size: 6vw;
      top: 20%
    }

    .centered-subtext {
      font-size: 2.5vw;
      top: 23%;
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  /* Socials links */
  .socials {
    position: fixed;
    top: 45%;
    left: 0;
    background-color: #F4C7AB;
    width: 50px;
    padding: 10px 5px;
    border-radius: 0 20px 20px 0;
    animation: fadeIn 1s;
}

.socials img:hover {
    width: 105%;
}

@media screen and (max-width: 670px) {
    .socials {
        top: 45%;
        width: 40px;
    }
  }
@media screen and (max-width: 440px) {
    .socials {
        top: 55%;
        width: 30px;
    }
  }

.socials img {
    width: 100%;
    padding: 5px 1px;
}

/* Bouncing arrow */
.arrow {
  border: solid #F4C7AB;
  border-width: 0 8px 8px 0;
  padding: 15px;
  display: inline-block;
  transform: rotate(45deg);
}

.bounce {
  animation: bounce 2s infinite;
  position: absolute;
  top: 68%;
  left: 50%;
  padding-top: 30px;
}

@keyframes bounce {

  0%,
  25%,
  50%,
  75%,
  100% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(30px);
  }
}

@media screen and (max-width: 670px) {
  .bounce {
    top: 65%;
    left: 45%;
  }
  .arrow {
    display: none;
  }
}

/* About Me Styles */
.aboutContainer {
    background-color: #000;
    padding-top: 50px; 
    padding-left: 150px;
    padding-right: 60px;
    padding-bottom: 80px;
    left: 50%;
    color: #DEEDF0;
    font-size: 5vw;
    letter-spacing: .2rem;
    animation: fadeIn 5s;
}

.reveal{
  position: relative;
  transform: translateY(80px);
  opacity: 0;
  transition: 2s all ease;
  padding: 5px;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.aboutTitle {
  color: #F4C7AB;
  font-size: 3.5vw;
  font-weight: 100;
}

.aboutSubTitle {
  padding-top: 20px;
  font-size: 1.5vw;
  font-weight: 300;
  color: white;
}

.aboutText {
  padding-top: 10px;
  font-weight: 300;
  line-height: 1.8;
  font-size: 1.5vw;
}

@media screen and (max-width: 670px) {
    .aboutContainer {
      padding-left: 100px;
    }
    .aboutSubTitle {
       font-size: 3.5vw;
    }
    .aboutText {
      font-size: 3vw;
    }
  }

  @media screen and (max-width: 440px) {
    .aboutContainer{
      padding-top: 30px; 
      padding-left: 50px;
      padding-right: 30px;
      padding-bottom: 80px;
    }
    .aboutTitle {
       font-size: 5vw;
    }
    .aboutText{
      font-size: 5vw;
    }

  }

/* Resume Styles */
.resumeContainer{
	width: 100%;
}

.resumeTitle{
	font-size: 4vw;;
	text-align: center;
  font-weight: 100;
	padding: 0;
	margin: 0;
	margin-left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	animation: slide-in-anim 5s ease-out forwards;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
    opacity: 0.5;
		transform: translateX(-55%);
	}
	75% {
    opacity: 0.5;
		transform: translateX(-65%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

.downloadContainer{
  text-align: end;
  padding-right: 100px;
}

.resumeDownload {
  font-size: 1vw;
  padding-left: 60px;
}

.downloadIcon {
  width: 7%;
  height: 10%;
  padding-left: 60px;
}

.resumeImage {
  width: 80%;
  padding-left: 300px;
  padding-bottom: 100px;
}

.downloadContainer2{
  display: none;
}

@media screen and (max-width: 670px) {
    .resumeTitle{
      font-size: 6vw;
    }

    .resumeDownload2{
      padding-left: 50px;
      padding-bottom: 0;
      margin-bottom: 0;
      font-weight: 200;
      color: #000;
    }

    .downloadLink{
      padding-left: 60px;
      padding-bottom: 20px;
    }

    .resumeImage{
      width: 90%;
       padding-left: 50px;
    }
    
    /* .downloadIcon {
      width: 8%;
    } */

    .downloadContainer{
      visibility: hidden;
    }

    .downloadContainer2{
      display:contents;
    }

  }

  @media screen and (max-width: 440px) {
    .downloadContainer{
      visibility: hidden;
    }

    .resumeDownload2{
      padding-bottom: 0;
      padding-left: 140px;
      margin-bottom: 0;
      font-weight: 200;
      color: #000;

    }

    .downloadLink  {
      padding-left: 45%;
    }

    .resumeImage{
      width: 100%;
       padding-left: 22px;
       padding-right: 22px;
       padding-bottom: 30px;
       padding-top: 0;
    }
    
    .downloadIcon2 {
      width: 20%;
    }
  }
  

/* Contact Styles */
#waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.1));
  font-size: 60px;
}
#waviy span {
  position: relative;
  display: inline-block;
  color: #000;
  animation: waviy 3.5s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-15px)
  }
}
@media screen and (max-width: 670px) {
  #waviy {
    position: realtive;
    margin-left: 35px;
    margin-right: 35px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Form Styles */
.formTitle {
  text-align: center;
  padding-top: 40px;
 
}

.formSubTitle {
  padding-top: 40px;
  line-height: 1.7;
  font-weight: 100;
  text-align: center;

}

.formSubTitle2 {
  padding-top: 10px;
  line-height: 1.7;
  font-weight: 300;
  font-size: 1.1vw;
  text-align: center;
  color: #000;
}

a:link {
  text-decoration: none;
}

.emailLink2 {
  font-size: 2vw;
  text-decoration: none;
}

.form {
 padding:100px;
 margin-left: 140px;
 text-align: center;
 display: grid;
 grid-gap: 15px;
 grid-template-columns: repeat(1, 1fr);
 grid-template-rows: 3em 3em;
}

input {
  width: 80%;
  border: solid 1px #F4C7AB;
  border-radius: 6px;
  color: #F4C7AB;
}
  
input:focus, textarea:focus, select:focus {
  outline-offset: 0px !important;
  outline: none !important;
  }

.messageInput {
  height: 100px;
}

.button {
  width: 100px;
  height: 45px;
  font-size: 1vw;
  color: #FFF;
  letter-spacing: 2.1px;
  background-color: #F4C7AB;
  border: none;
  border-radius: 20px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  } 

button:hover {
  box-shadow: 0px 10px 15px #ffd3b7;
  background-color: #FFF5EB;
  border: #F4C7AB;
  transform: translateY(-1px);
  color:#000;
}

@media screen and (max-width: 670px) {
  .formSubTitle2 {
    font-size: 2.5vw;
  }
  .emailLink2 {
    font-size: 4vw;
  }
  .form {
    padding: 20px;
    margin-left: 55px;
    padding-left: 20px;
  }
  input {
    width: 100%;
  }
  .button {
    font-size: 2vw;
  }
}

/* Footer Styles */
.footerContainer {
  padding: 10px;
  background-color: #DEEDF0;
}

.emailLink {
  padding-left: 49%;
  font-size: 2vw;
  text-decoration: none;
}

.emailLink:hover {
  cursor:pointer;
}

.footerText{
  font-size: 1vw;
  text-align: center;
  padding-top: 5px;
}

.footerSubText{
  font-size: 0.7vw;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 670px) {
    .footerText{
       font-size: 2.7vw;
    }
     .footerSubText{
       font-size: 2.7vw;
    }
     .emailLink{
       font-size: 4vw;
    }
  }
